* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #162525;
}

#header {
    background-color: #2f4f4f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: monospace;
}

.who-would--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 60px 150px;
}

.who-would--text,
.who-would--subtext {
    font-size: 96px;
    color: white;
    font-weight: bolder;
    font-family: monospace;
}

.who-would--subtext {
    font-size: 48px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0px 150px 60px;
}

.card-container--text {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
    font-family: monospace;
}

/* Need to add an animation later

.card-container--text {
    font-size: 32px;
    font-weight: bold;
    color: darkgray;
    margin-bottom: 16px;
    font-family: monospace;
}
*/

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.cards-option {
    width: 250px;
    height: 250px;
    border: 5px solid white;
    border-radius: 16px;
}

.cards-option:hover {
    width: 250px;
    height: 250px;
    border: 5px solid darkgrey;
    border-radius: 16px;
}

#footer {
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
    color: white;
    background-color: #2f4f4f;
    padding: 30px;
    text-align: center;
}